@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="x-icon" href="/images/panda.jpeg" />

    <title>Aaron Zorrilla's Hobbies</title>
</head>
<body>
    <h1>Welcome to Aaron's Hobbies where the irony of his Hobbies are pointed out</h1>
    <br />
    <br />
    <h3>First Hobby: Running</h3>
    <p>
        Growing up I didn't like running as much as I do know since I thought it was too boring just going from point A to point B
        but I loved riding a bicycle especially around NYC. Nevertheless, while being in NY, my bishop in my ward told me to go out running
        with him and even though I didn't like it at first, after a few months and losing around 20 pounds, I started to grow a passion
        for it. Recently, I've been able to pick it up again consistently after so many years, and even though I can't run as fast or long
        as I used to, slowly but surely I'll be able to improve and pray I don't get an asthma attack again
    </p>
    <img src="images/RunningPic.PNG" height="600" />
    <br />
    <br />
    <h3>Second Hobby: Sleeping</h3>
    <p>
        To be fair, this is something that you will literary find me doing anywhere, and though it might sound generic,
        but due to my sleep schedule, sometimes after I'm done with Homework I like to take a power nap wherever I feel comfortable
        here are some examples of my friends finding me sleeping around campus
    </p>
    <img src="images/Sleeping1.jpg" height="500" />
    <img src="images/Sleeping2.jpg" height="500" />

</body>